<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flux/style.css' %}">

    <meta charset="UTF-8">
    <title>Affichage ticket</title>
</head>
<body>

    <div class="create-ticket">

        {% block content %}
                <div class="small_frame">
                        {% block title %}
                        <p>{{ obj.ticket.time_created }}</p>
                        <h4>{{ obj.ticket.user }} a demandé une critique </h4>
                        <p>{{ obj.ticket.title }}</p>
                        <p>{{ obj.ticket.description }}</p>
                        <img src="{{ obj.ticket.image.url }}">
                        {% endblock %}
                </div>



        {% endblock content %}
    </div>
</body>
</html>