<head>
    <meta charset="UTF-8">
    <title>Affichage ticket</title>
</head>
<body>

    <div class="create-ticket">

        {% block content %}
                <p>___________________________________________________________________</p>
                        {% block title %}
                        <p>{{ obj.ticket.time_created }}</p>
                        <h4>{{ obj.ticket.user }} a demandé une critique </h4>
                        <p>{{ obj.ticket.title }}</p>
                        <p>{{ obj.ticket.description }}</p>
                        <img src="{{ obj.ticket.image.url }}">
                        {% endblock %}
                <p>___________________________________________________________________</p>



        {% endblock content %}
    </div>
</body>
</html>