<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flux/style.css' %}">
    <meta charset="UTF-8">
    <title>Affichage ticket</title>
</head>
<body>

    <div class="create-ticket">

        {% block content %}
                <div class="small_frame">
                        {% block title %}
                        <p>{{ obj.time_created }}</p>
                        <h4>{{ obj.user }} a demandé une critique </h4>
                        <p>{{ obj.title }}</p>
                        <p>{{ obj.description }}</p>
                        <img src="{{ obj.image.url }}">
                        {% endblock %}
                </div>


        {% endblock content %}
    </div>
</body>
</html>