<!DOCTYPE html>
{% extends 'flux/base.html' %}
{% load static %}
<html lang="en">
<head>

    <link rel="stylesheet" href="{% static 'flux/styles.css' %}">
    <meta charset="UTF-8">
    <title>Créer une critique</title>
</head>
<body>
<div class="reviewCreation">

    {% block content %}
        <div class="stdr_frame">
        <h2> Créer une critique </h2>
        <p>Vous êtes en train de poster en réponse à : </p>

        {% include "flux/snippets/ticket_snippet.html" with var=obj %}
        <form method="post" enctype="multipart/form-data">
            <p>Ajouter votre critique :</p>
            {{ review_form.as_p }}
            {% csrf_token %}
            <button type="submit" > Envoyer </button>
        </form>
        </div>
    {% endblock content %}


</body>
</html>