<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% load flux_extras %}

<head>


    <meta charset="UTF-8">
    <title>Home page</title>
    {% block title %}<title>LITReview</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'flux/style.css' %}">



</head>
<body>



  <div class="container-fluid">
    <div class="row">
         <div class="mon-flux">
              {% block content %}

             <button>  <a href="{% url 'ticket_create' %}" > Demander une critique </a> </button>
             <button>  <a href="{% url 'review_create' %}" > Créer une critique</a> </button>
                <h2> Votre flux </h2>
                <p>___________________________________________________________________</p>
                    {% for f in flux_ticket %}
                        <p>{{ f.time_created }}</p>
                        <h4>{{ f.user }} a demandé une critique </h4>
                        <p>{{ f.title }}</p>
                        <p>{{ f.description }}</p>
                        <img src="{{ f.image.url }}">
                        <br>
                        <button>  <a href="{% url 'create_review_onticket' f.id %}"> Créer une critique </a> </button>
                        <p>___________________________________________________________________</p>

                    {% endfor %}
                    {% for f in flux_review %}
                        <p>{{ f.time_created }}</p>
                        <h4>{{ f.user }} a publié une critique </h4>
                        <p>Rating :{{ f.rating }}/5</p>
                        <p>{{ f.body }}</p>
                        <p>______________________________</p>
                        <p>{{ f.ticket.title }}</p>
                        <p>{{ f.ticket.description }}</p>
                        <img src="{{ f.ticket.image.url }}">
                        <p>___________________________________________________________________</p>

                    {% endfor %}


             {% endblock content%}
         </div>
    </div>
  </div>
</body>



</html>