<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load flux_extras %}
{% load static %}
<head>
    <img src="{% static 'images/logo.jpg' %}" alt="UML diagram" style="width:555px;height:540px;">
    <meta charset="UTF-8">
    <title>Home page</title>
    {% block title %}<title>LITReview</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'flux/style.css' %}">



</head>
<body>



  <div class="container-fluid">
    <div class="row">
         <div class="mon-flux">
              {% block content %}

                <button type="submit"  onclick="{% url 'ticket_create' %}" > Demander une critique </button>
                <button type="submit" onclick="{% url 'review_create1' %}" > Créer une critique</button>
                <h2> Votre flux </h2>
                    {% for f in flux %}
                        <img src="{{ f.image.url }}">
                        <p>{{ f.description }}</p>
                    {% endfor %}


             {% endblock content%}
         </div>
    </div>
  </div>
</body>



</html>