<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
        <h2> Vos posts </h2>
        <p>___________________________________________________________________</p>
        <div class="create-ticket">

            {% for post in posts %}
                {% if post.content_type == 'TICKET' %}
                    <p>{{ post.time_created }}</p>
                    <p> Vous avez demandé une critique </p>
                    <p>{{ post.title }}</p>
                    <p>{{ post.description }}</p>
                    <img src="{{ post.image.url }}">
                    <br>
                    <button>  <a href="{% url 'ticket_update' %}" > Modifier </a> </button>
                    <button>  <a href="{% url 'ticket_delete' %}" > Supprimer </a> </button>
                    <p>___________________________________________________________________</p>
                {% elif post.content_type == 'REVIEW' %}
                    <p>{{ post.time_created }}</p>
                    <p> Vous avez publié une critique </p>
                    <p> Rating : {{ post.rating }}/ 5 </p>
                    <p>{{ post.headline }}</p>
                    <p>{{ post.body }}</p>
                    <button>  <a href="{% url 'review_update' %}" > Modifier </a> </button>
                    <button>  <a href="{% url 'review_delete' %}" > Supprimer </a> </button>
                    <p>___________________________________________________________________</p>
                {% endif %}
            {% endfor %}

        </div>


    {% endblock content %}

</body>
</html>