<!DOCTYPE html>
{% extends 'flux/base.html' %}
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flux/style.css' %}">
    <meta charset="UTF-8">
    <title>Créer une critique</title>
</head>
<body>
<div class="reviewCreation">

    {% block content %}
    <h2> Créer une critique </h2>
    <div class="stdr_frame"

        <form method="post" enctype="multipart/form-data">
            {{ c_ticket_form.as_p }}
            {{ c_review_form.as_p }}
            {% csrf_token %}
            <button type="submit" > Envoyer </button>

        </form>
    </div>
    {% endblock content %}

</body>
</html>