<!DOCTYPE html>
{% extends 'flux/base.html' %}
{% load static %}
<html lang="en">
<head>

    <link rel="stylesheet" href="{% static 'flux/styles.css' %}">
    <meta charset="UTF-8">
    <title>Mise à jour critique</title>
</head>
<body>
    <div class="stdr_frame">
        {% block content %}
         <h2> Modifier votre critique</h2>
            <p>Vous êtes en train de poster en réponse à : </p>
            {% include "flux/snippets/review_snippet.html" with var=obj %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ review_form.as_p }}

                <button type="submit" value="Update" >Modifier</button>
            </form>
        {% endblock content %}
    </div>


</body>
</html>