<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suppression critique</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h2> Suppression D'une critique</h2>
    <p>Etes-vous sûr de vouloir supprimer cette critique ?</p>
    {% include "flux/snippets/review_snippet.html" with var=obj %}
        <form action="" method="POST">
            {{ c_review_form.as_p }}
            {% csrf_token %}
            <button type="submit" > Supprimer </button>
<!--            <P> Message info : la critique a été supprimée avec succes</P>-->
        </form>


    {% endblock content %}

</body>
</html>

