<!DOCTYPE html>
{% extends 'flux/base.html' %}
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'flux/styles.css' %}">
    <meta charset="UTF-8">
    <title>Créer une critique</title>
</head>
<body>
<div class="reviewCreation">

    {% block content %}
    <h2> Créer une critique </h2>
    <div id="review_create" class="stdr_frame">

        <form method="post" enctype="multipart/form-data">
            {{ ticket_form.as_p }}
            {{ review_form.as_p }}
            {% csrf_token %}
            <button type="submit" > Envoyer </button>

        </form>
    </div>
    {% endblock content %}

</body>
</html>