<!DOCTYPE html>
{% extends 'flux/base.html' %}
{% load static %}
<html lang="en">
<head>

    <link rel="stylesheet" href="{% static 'flux/styles.css' %}">
    <meta charset="UTF-8">
    <title>Abonnement</title>
</head>

    {% block content %}

        <h2> Suivre d'autres utilisateurs </h2>
        <div class="stdr_frame">
        <form method="post" enctype="multipart/form-data">
            <p> User  {{ follow_form.followed_user }}</p>
            {% csrf_token %}

            <button type="submit" > Suivre </button>
        </form>
        <br>
        <h2> Abonnements </h2>

            {% for f in following %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        {{ f.followed_user }}
                        <button> <a href="{% url 'unsubscribe' f.id %}" > Se désabonner </a> </button>
                    </p>
                </form>
            {% endfor %}
        <br>
        <h2> Mes abonnés </h2>
            {% for f in followed %}
                <p>{{ f.user }}</p>
            {% endfor %}
        <br>
        </div>
    {% endblock content %}
<body>

</body>
</html>