<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abonnement</title>
</head>
    {% extends 'base.html' %}
    {% block content %}
        <h2> Suivre d'autres utilisateurs </h2>
        <form method="post" enctype="multipart/form-data">
            {{ follow_form.as_p }}
            {% csrf_token %}
            <button type="submit" > Envoyer </button>
        </form>
        <br>
        <h2> Abonnements </h2>
        <br>
        <h2> Abonnés </h2>
        <br>
    {% endblock content %}
<body>

</body>
</html>