<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abonnement</title>
</head>
    {% extends 'base.html' %}
    {% block content %}
        <h2> Suivre d'autres utilisateurs </h2>
        <form method="post" enctype="multipart/form-data">
            {{ follow_form.as_p }}
            {% csrf_token %}
            <button type="submit" > Suivre </button>
        </form>
        <br>
        <h2> Abonnements </h2>

            {% for f in following %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>
                        {{ f.followed_user }}

                        <button> <a href="{% url 'unsubscribe' f.id %}" > Se désabonner </a> </button>
                    </p>
                </form>
            {% endfor %}
        <br>
        <h2> Mes abonnés </h2>
            {% for f in followed %}
                <p>{{ f.user }}</p>
            {% endfor %}
        <br>
    {% endblock content %}
<body>

</body>
</html>