<!DOCTYPE html>
{% extends 'flux/base.html' %}
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'flux/styles.css' %}">
    <meta charset="UTF-8">
    <title>Création de ticket</title>

</head>
<body>
  <div class="ticketCreation">

    {% block content %}
        <h2> Créer un ticket </h2>
            <div id="ticket_create" class="stdr_frame" >
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ ticket_form.as_p }}

                    <button type="submit" > Envoyer </button>
                </form>
            </div>
    {% endblock content %}
  </div>
</body>
</html>