<!DOCTYPE html>
{% extends 'flux/base.html' %}
{% load static %}
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flux/styles.css' %}">
    <meta charset="UTF-8">
    <title>Mise à jour ticket</title>
</head>
<body>

    <div class="create-ticket">

        {% block content %}
        <h2> Modifier votre ticket</h2>
            <div class="stdr_frame">
                <form action="" method="POST" enctype="multipart/form-data">

                        {{ ticket_form.as_p }}
                        <img src="{{ c_ticket_form.image.value.url}}">


                    {% csrf_token %}
                    <br>
                    <br>
                    <button type="submit" value="Update" >Modifier</button>
                </form>
            </div>
        {% endblock content %}
    </div>
</body>
</html>


