<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mise à jour ticket</title>
</head>
<body>

    <div class="create-ticket">
        {% extends 'base.html' %}
        {% block content %}
        <h2> Modifier votre ticket</h2>

            <form action="" method="POST">

                {{ c_ticket_form.as_p }}
                {% csrf_token %}
                <button type="submit" value="Update" >Modifier</button>
            </form>
        {% endblock content %}
    </div>
</body>
</html>


