<!DOCTYPE html>
{% extends 'flux/base.html' %}
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flux/style.css' %}">
    <meta charset="UTF-8">
    <title>Mise à jour ticket</title>
</head>
<body>

    <div class="create-ticket">

        {% block content %}
        <h2> Modifier votre ticket</h2>
            <div class="stdr_frame">
                <form action="" method="POST">

                        <p>Title {{ c_ticket_form.title }}</p>
                        <p>Description {{ c_ticket_form.description }}</p>
                        <p> Image </p>
                        <img src="{{ c_ticket_form.image }}">


                    {% csrf_token %}
                    <br>
                    <button type="submit" value="Update" >Modifier</button>
                </form>
            </div>
        {% endblock content %}
    </div>
</body>
</html>


