HTML{
    text-align: center;
}
body {

  font-family: fantasy;
}

.mon-flux{
border-width:2px;
}

.sidebar-nav{

    font-size:120%  ;
    font-family: monospace;
    padding-left: 7%;
    align = right;

}


.bar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    border:2px
}



