.sin_in {
    text-align: center;
}

.sin_up {
    text-align: left;
}

.mon-flux{
border-width:2px;
}

body {

  font-family: fantasy;
}


.sidebar-nav{

    font-size:120%  ;
    font-family: monospace;
    padding-left: 7%;
    align = right;

}


.bar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    border:2px
}



