<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'authentication/styles.css' %}" />
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
    <img src="{% static 'flux/logo1.jpg' %}"  style="width:100px;height:100px;">
    <div class="sin_up">
      {% block content %}
        <h2>Sign up : </h2>
        {% if form.errors %}
          {{ form.errors }}
        {% endif %}
        <form method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <button type="submit" >S’inscrire</button>
        </form>
    </div>
      {% endblock content %}

</body>
</html>