<!DOCTYPE html>
{% extends 'flux/base.html' %}
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'flux/styles.css' %}" />
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>

      {% block content %}
        <h2>Sign up : </h2>
        {% if form.errors %}
          {{ form.errors }}
        {% endif %}
        <form method="post">
          {{ form.as_p }}
          {% csrf_token %}
          <button type="submit" >S’inscrire</button>
        </form>
      {% endblock content %}

</body>
</html>