<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title> Base </title>
        <link rel="stylesheet" href="{% static 'styles.css' %}" />
        <img src="{% static 'P9/logo.jpg' %}"  style="width:555px;height:540px;">

    </head>
    <body>

        <h1>LITReview </h1>
            {% block sidebar %}
            <div class="sidebar-nav">
               <a href="{% url 'home' %}">-- Flux -</a>
               <a href="{% url 'post' %}"> - Mes posts-  </a>

               <a href="{% url 'Subscription' %}"> - Abonnemements - </a>
               <a href="{% url 'ticket_create' %}"> - Créer un ticket - </a>
               <a href="{% url 'review_create1' %}"> - Créer une critique -</a>
                <a href="{% url 'logout' %}">- Se déconnecter --</a>
                <br>
                <br>
                <br>

           </div>
            <!-- insert default navigation text for every page -->
            {% endblock %}
            {% block content %}{% endblock content %}
            {%  if user.is_authenticated %}
                <p>Vous êtes connecté en tant que {{ request.user }}. <a href="{% url 'logout' %}">Se déconnecter</a></p>
            {% endif %}
    </body>
</html>
